<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="privateKey" class="java.io.File">
		<constructor-arg value="/path/to/admpriv.bin" />
	</bean>
	
	<bean id="handleAuthProvider" class="edu.asu.lib.handle.HandleAuthProvider">
		<property name="privateKey" ref="privateKey" />
		<property name="passphrase" value="YOUR_PRIVATE_KEY_PASSPHRASE" />
		<property name="authHandle" value="YOUR_AUTH_HANDLE" />
	</bean>
	
	<bean id="handleService" class=" edu.asu.lib.handle.HandleService">
		<property name="authProvider" ref="handleAuthProvider" />
	</bean>
	
	<jaxrs:server id="handleServiceServer" address="/services">
		<jaxrs:serviceBeans>
			<ref bean="handleService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>
	
</beans>